* {
    box-sizing: border-box;
}

body {
    width: 95%;
    height: 100%;
    /*max-width: 900px;*/
    margin: 0.5em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    background-color: rgb(22, 22, 22); /* very dark grey: rgb(12, 12, 12) // dark grey: rgb(17, 17, 17); // light grey-white: rgb(235, 235, 235); */ 
    /*background-image: url(images/IMG_1103.JPG);*/
    background-size:cover;
    align-content: center;
    justify-content: center;
    display: grid;
    /*padding: 1em;*/
}


@font-face {
    font-family: 'PicNic';
        src: url(webfonts/PicNic.woff);
        src: url(webfonts/PicNic.woff2);

    font-family: 'bianzhidai-Stitches';
        src: url(webfonts/bianzhidai-Stitches.woff);
        src: url(webfonts/bianzhidai-Stitches.otf);

    font-family: 'Sligoil';
        src: url(webfonts/Sligoil-Micro.woff);
        src: url(webfonts/Sligoil-Micro.woff2);

    font-family: 'Terminal-Grotesque';
        src: url(webfonts/terminal-grotesque-webfont.eot);
        src: url(webfonts/terminal-grotesque-webfont.woff);
        src: url(webfonts/terminal-grotesque-webfont.woff2);
}


#websiteTitle {
    color: #3F5CA2;
    font-family: 'Terminal-Grotesque';
    font-size: 3.5em;
}

#subcaption {
    color: #6586d3;
    font-family: 'Sligoil';
    font-size: 1em;
    text-align: left;
}

#navigation {
    color: #6586d3;
    font-family: 'Sligoil';
    font-size: 1em;
    text-align: right;
    }

#navigation ul {
    list-style-type: none;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 5px;
    justify-content: center; 
    align-items: center;
}


.container div {
    border-radius: 5px;
    padding: 10px;
    background-color: none;
    border: none;
    justify-content: center; 
    align-items: center;
    align-content: center;
}

#container2 {
    border-radius: 5px;
    padding: 10px;
    /*background-color: blue;*/
    border: none;
    justify-content: center; 
    align-items: center;
    align-content: center;
}

.showreel {
    justify-content: center; 
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 2em;
}

aside {
    border-right: 3px solid #999;
    grid-area: sidebar;
    padding-right: 10px;
    font-size: 0.8em;
}

header,
footer {
    /*border-radius: 5px;
    padding: 1px;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    text-align: center;*/
}

/*footer {
    grid-area: footer;
}

header {
    grid-area: header;
    font-size: 2em;
    font-weight: bold;
    color: rgb(116, 233, 81);
    background-color: antiquewhite;
    border-color: rgb(231, 231, 120);
}

.articles {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    gap: inherit;
}

article {
    padding: 10px;
    border: 2px solid rgb(79 185 227);
    border-radius: 5px;
}

button {
    color: rgb(119, 31, 31);
    background-color: rgb(201, 125, 11);
}*/

/*h1 {
    color: #3F5CA2;
    font-family: 'PicNic';
    font-size: 5em;
}*/

#A1:hover {
    transform: rotate(3deg);
}

#A2:hover {
    transform: rotate(-4deg);
}

#A3:hover {
    transform: rotate(5deg);
}

#B1:hover {
    transform: rotate(-2deg);
}

#B2:hover {
    transform: rotate(-6deg);
}

#B3:hover {
    transform: rotate(8deg);
}

#C1:hover {
    transform: rotate(7deg);
}

#C2:hover {
    transform: rotate(8deg);
}

#C3:hover {
    transform: rotate(-5deg);
}

#Showreel {
    /*width: 50%;
    justify-content: center; 
    align-items: center;
    align-content: center;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 5px;
    justify-content: center; 
    align-items: center;
}


