

/* FONT FONT FONT */ 

.dongle-regular {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.syne-mono-regular {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
.doto {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
  }

  .space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
/* PAGE */ 


header {
    /*grid-area: header;*/
    font-size: 100%;
    color: rgb(116, 233, 81);
    background-color: rgb(207, 154, 214);
    border-color: rgb(231, 231, 120);
    border-width: 10px;
    width: 100%;
}

body {
    margin: 0.5em auto;
    font: 16px Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0); /* current: rgb(22, 22, 22); / very dark grey: rgb(12, 12, 12) // dark grey: rgb(17, 17, 17); // light grey-white: rgb(235, 235, 235); / Nice red: (180, 57, 57)  */ 
    background-size:cover;
    align-content: center;
    justify-content: center;
    /*display: grid;*/
    /*max-width: 80%;*/
}

#Title {
    color: #000000; /* #71f360; */ 
    font-family: "Doto";
    font-size: 300%;
    text-align: left;
    padding: 0% 0% 2% 2%;
}

#ProjectTitle {
    color: #71f360;
    font-family: "Space Mono", monospace;
    font-style: italic;
    font-size: 150%;
    text-align: left;
    padding: 2%;
}

#navigation {
    color: #000000; /* #d8e2fc; /* rgb(65, 219, 86); */
    text-align: right;
    padding: 0% 2% 1% 0%;
}

#navigation ul {
    list-style-type: none;
    font-family: 'Dongle';
    font-size: 25px;
    line-height: 22px;
    padding:0px;
    margin:0px;
}

#subcaption {
    color: #6586d3;
    font-family: 'Dongle';
    font-size: smaller;
    text-align: left;
}

p {
    font-family: 'Dongle';
    color: #e7e7e7;
    font-size: 25px;
    line-height: 14px;
    padding:0px;
    margin:0px;
}

p a {
    font-family: 'Dongle';
    color: #e7e7e7;
    font-size: 25px;
    line-height: 14px;
    padding:0px;
    margin:0px;
}

a {
    color: #e7e7e7;
    font-size: 25px;
    line-height: 14px;
    padding:0px;
    margin:0px;
    text-decoration: none;
}


.introduction p {
    width: 50vw;
    height: auto;
    font-family: 'Dongle';
    font-size: 35px;
    line-height: 22px;
    word-wrap: break-word;
    color: #e7e7e7; /*#3064dd; */ 
    /*background-color: rgb(245, 245, 245);*/
    margin:0px;
    padding: 2% 0% 2% 5%;
}


/* CONTAINER FOR IMAGE TILES */ 

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 5px;
    justify-content: center; 
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.container div {
    border-radius: 5px;
    padding: 10px;
    background-color: none;
    border: none;
    justify-content: center; 
    align-items: center;
    align-content: center;
}

/* CONTAINER FOR SHOW REEL */ 

#container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    border-radius: 5px;
    padding: 10px;
    /*background-color: blue;*/
    border: none;
    justify-content: center; 
    align-items: center;
    align-content: center;
}

.showreel {
    text-align: center;
    margin: 2em;
}

#Showreel {
    /*width: 50%;
    justify-content: center; 
    align-items: center;
    align-content: center;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 5px;
    justify-content: center; 
    align-items: center;
}

/* CONTAINER FOR FOOTER */ 

#container3 {
    height: 20px;
    width: auto;
    align-items: center;
    text-align: center;
}

img #animationAnna {
    height: 500px;
    width: auto;
}



/* PROJECT DESCRIPTIONS AND PAGES  */ 


.PROJbox {
    color: aqua;
}

.PROJbox p {
    color: rgb(201, 230, 35);
}

.PROJbox p .PROJinfo {
    color: rgb(255, 0, 242);
}

.PROJinfo {
    color: antiquewhite;
}






/* OTHER AND OLDER THINGS */ 

aside {
    border-right: 3px solid #999;
    grid-area: sidebar;
    padding-right: 10px;
    font-size: smaller;
}

/*footer {
    grid-area: footer;
}

header {
    grid-area: header;
    font-size: 2em;
    font-weight: bold;
    color: rgb(116, 233, 81);
    background-color: antiquewhite;
    border-color: rgb(231, 231, 120);
}

.articles {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    gap: inherit;
}

article {
    padding: 10px;
    border: 2px solid rgb(79 185 227);
    border-radius: 5px;
}

button {
    color: rgb(119, 31, 31);
    background-color: rgb(201, 125, 11);
}

h1 {
    color: #3F5CA2;
    font-family: 'PicNic';
    font-size: 5em;
}

#A1:hover {
    transform: rotate(3deg);
}

#A2:hover {
    transform: rotate(-4deg);
}

#A3:hover {
    transform: rotate(5deg);
}

#B1:hover {
    transform: rotate(-2deg);
}

#B2:hover {
    transform: rotate(-6deg);
}

#B3:hover {
    transform: rotate(8deg);
}

#C1:hover {
    transform: rotate(7deg);
}

#C2:hover {
    transform: rotate(8deg);
}

#C3:hover {
    transform: rotate(-5deg);
}*/





/* RESPONSIVE DESIGN TO BE DONE HERE! */ 


@media screen and (min-width:1080px) {
    body {
      background-color:rgb(22, 22, 22);
    }
}

@media screen and (max-width:1080px) {
    body {
      background-color:rgb(243, 131, 131);
    }
}

@media (max-width: 900px) { /* Replace with 360 or whatever you intend to */
    .grid-container.grid-container { /* You can also use a parent for specificity */
        grid-template-columns: 1fr; /* One column */
        grid-template-rows: repeat(auto,1fr); /* Five rows "5,1fr"*/
        grid-template-areas: "Photo" /* Stacked areas */
                             "Intro" 
                             "Container"
                             "Container2"
                             "Container3"
                             "Left"
                             "Right"
                             "Footer";
    }
}

@media screen and (max-width:760px) {
    body {
      background-color: #9063e4;
    }
}
  
@media screen and (max-width:480px) {
    body {
      background-color: rgb(34, 34, 34); 
    }
}
  
@media screen and (max-width:360px) {
    body {
      background-color: #5aafd3; 
    }
}


  